<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWIsY1I6qk1pEUD2J6p8v8SbnsWnFaNWw</string>
	<key>GCM_SENDER_ID</key>
	<string>56512891185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahtourism.app</string>
	<key>PROJECT_ID</key>
	<string>rahtourism-a88ca</string>
	<key>STORAGE_BUCKET</key>
	<string>rahtourism-a88ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56512891185:ios:956e062df2becffea00810</string>
</dict>
</plist>